.header {
    background: #fefefe;
    height: 72px;
}

.logo {
    padding: 10px 0;
}

.nav-site {
    display: flex;
    align-items: center;
}

.nav-site__item:not(:first-child) {
    margin-left: 28px;
}

.nav-site__list {
    display: flex;
    align-items: center;
    margin-left: auto;
}

@media screen and (max-width: 767px) {
    .nav-site__list--header {
        display: none;
    }

    .header__button {
        display: none;
    }
}

.nav-site__link {
    text-decoration: none;
    padding: 28px 0;
    @include fontSize(14px, 1.14);
    color: #2c2c2c;
}

.nav-site__link:hover,
.nav-site__link:focus,
.nav-site__link:active {
    color: #bbf330;
    text-decoration-line: underline;
}

.header__button {
    margin-left: 30px;
}

.open-menu {
    @media screen and (min-width: 768px) {
        display: none;
    }

    cursor: pointer;
    padding: 20px 0;
    margin-left: auto;
    border: none;
    background: none;
    color: #7eb101;

    &:hover,
    &:focus,
    &:active {
        color: #ffe550;
    }
}

.open-menu__icon {
    fill: currentColor;
}